<div class="row">
    <div class="col-lg-1"></div>
    <div class="col-lg-10">
        {{#each articles}}
        {{#if favorite}}
        <div class="article-div card my-4" id="favorite-well-" {{this._id}}>
            <div class="card-header bg-primary">
                <a href={{this.link}}>{{this.title}}</a>
            </div>
            <div class="card-body">
                <p>{{this.description}}</p>
            </div>
            <div class="card-footer bg-info text-right">
                <button class="btn bg-success notes-button" data-toggle="modal" data-target="#note-modal"
                    data-id={{this._id}}>Notes</button>
                <button class="btn bg-warning favorite-button" data-id={{this._id}} data-favorited={{this.favorite}}>In
                    Favorites</button>
            </div>
        </div>
        {{/if}}
        {{/each}}
    </div>
    <div class="col-lg-1"></div>

</div>