<div class="row">
    <div class="col-lg-1"></div>
    <div class="col-lg-10">
        {{#each articles}}
        <div class="article-div card my-4">
            <div class="card-header bg-primary">
                <a href={{this.link}}>{{this.title}}</a>
            </div>
            <div class="card-body">
                <p>{{this.description}}</p>
            </div>
            <div class="card-footer bg-info text-right">
                <button class="btn bg-success notes-button" data-toggle="modal" data-target="#note-modal"
                    data-id={{this._id}}>Notes</button>
                {{#if favorite}}
                <button class="btn bg-warning favorite-button" data-favorited={{this.favorite}} data-id={{this._id}}>In
                    Favorites</button> {{else}} <button class="btn bg-success favorite-button"
                    data-favorited={{this.favorite}} data-id={{this._id}}>Favorite</button>
                {{/if}}
            </div>
        </div>
        {{/each}}
    </div>
    <div class="col-lg-1"></div>

</div>